<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div class="col-lg-4">
      <div class="d-flex align-items-start align-items-lg-center justify-content-center h-100">
        <div class="row justify-content-center w-100 h-100 align-items-center">
          <div class="col-lg-9 max-width-form">
            <a [routerLink]="['/']" class="d-flex justify-content-center">
              <img src="./assets/images/logos/logo-sm.png" class="align-middle m-2" alt="logo" />
            </a>
            <h4 class="f-w-700 f-s-24 m-t-24 m-b-8 d-flex justify-content-center" >Sign In</h4>
            <span class="f-s-14 d-block mat-body-1 m-t-8 d-flex justify-content-center">Your MWSC Online Services Account</span>

            <div class="row m-t-24 d-flex justify-content-center">
              <a href=""
                style="padding: 10px 25px; border: solid 1px #164998; display: inline-flex; align-items: center; justify-content: center; font-weight: 500; border-radius: 30px; text-decoration: none;background-color: #164998; color: #fff; font-family: 'Poppins', sans-serif;">
                <svg width="40" height="40" viewBox="0 0 145 145" fill="none" xmlns="http://www.w3.org/2000/svg"
                  style="margin-right:10px">
                  <g clip-path="url(#clip0_110_335)">
                    <path
                      d="M116.43 0H27.71C12.47 0 0 12.47 0 27.71V116.43C0 131.67 12.47 144.14 27.71 144.14H116.43C131.67 144.14 144.14 131.67 144.14 116.43V27.71C144.14 12.47 131.67 0 116.43 0Z"
                      fill="white" />
                    <path
                      d="M72.1501 88.65C63.7401 88.65 56.9201 81.83 56.9201 73.42C56.9201 65.01 63.6301 58.31 71.9501 58.21C71.9901 58.21 72.0201 58.22 72.0601 58.22C76.2701 58.22 79.7001 54.79 79.7001 50.58C79.7001 50.47 79.6701 50.36 79.6701 50.25C79.4901 46.19 76.1601 42.94 72.0701 42.94C55.2601 42.94 41.6301 56.57 41.6301 73.39C41.6301 90.21 55.2601 103.84 72.0701 103.84C88.8801 103.84 101.61 91.04 102.43 74.96C102.46 74.7 102.51 74.45 102.51 74.18V28.33C102.51 24.14 99.0801 20.72 94.9001 20.72C90.7101 20.72 87.2901 24.15 87.2901 28.33V74.19C87.2901 74.33 87.3201 74.46 87.3301 74.6C86.7301 82.46 80.1701 88.65 72.1601 88.65H72.1501Z"
                      fill="#164996" />
                    <path
                      d="M117.74 43.1099C121.94 43.1099 125.35 46.5199 125.35 50.7199V73.4299C125.35 77.6299 121.94 81.0399 117.74 81.0399C113.54 81.0399 110.13 77.6299 110.13 73.4299V50.7199C110.13 46.5199 113.54 43.1099 117.74 43.1099Z"
                      fill="#164996" />
                    <path
                      d="M72.0699 65.77C67.8599 65.77 64.4299 69.2 64.4299 73.41C64.4299 77.62 67.8599 81.05 72.0699 81.05C76.2799 81.05 79.7099 77.62 79.7099 73.41C79.7099 69.2 76.2799 65.77 72.0699 65.77Z"
                      fill="#164996" />
                    <path
                      d="M117.74 20.72C113.53 20.72 110.1 24.15 110.1 28.36C110.1 32.57 113.53 36 117.74 36C121.95 36 125.38 32.57 125.38 28.36C125.38 24.15 121.95 20.72 117.74 20.72Z"
                      fill="#164996" />
                    <path
                      d="M111.92 88.21C109 88.21 106.49 89.88 105.21 92.29L105.18 92.27C98.66 103.72 86.28 111.45 72.08 111.45C51.09 111.45 34.08 94.56 34.08 73.72C34.08 52.88 51.09 35.99 72.08 35.99C76.29 35.99 79.72 32.56 79.72 28.35C79.72 28.16 79.68 27.97 79.66 27.78L79.72 27.72H79.65C79.32 23.81 76.07 20.72 72.08 20.72C42.64 20.72 18.77 44.45 18.77 73.72C18.77 102.99 42.64 126.72 72.08 126.72C92 126.72 109.38 115.85 118.53 99.76L118.47 99.73C119.15 98.59 119.57 97.27 119.57 95.85C119.57 91.64 116.14 88.21 111.93 88.21H111.92Z"
                      fill="#164996" />
                  </g>
                </svg>
                Sign in with eFaas
              </a>

              <!-- <div class="col-6">
                <button mat-stroked-button class="w-100">
                  <div class="d-flex align-items-center">
                    <img
                      src="/assets/images/logos/logo-sm.png"
                      alt="efaas"
                      width="16"
                      class="m-r-8"
                    />
                    Sign in with efaas
                  </div>
                </button>
              </div>
              <div class="col-6">
                <button
                  mat-stroked-button
                  class="w-100 d-flex align-items-center"
                >
                  <div class="d-flex align-items-center">
                    <img
                      src="/assets/images/svgs/facebook-icon.svg"
                      alt="facebook"
                      width="40"
                      class="m-r-4"
                    />
                    Facebook
                  </div>
                </button>
              </div> -->
            </div>

            <div class="or-border m-t-30">or sign in with</div>

            <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
              <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Username</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput formControlName="uname" />
                @if(f['uname'].touched && f['uname'].invalid) {
                <mat-hint class="m-b-16 error-msg">
                  @if(f['uname'].errors && f['uname'].errors['required']) {
                  <div class="text-error">Name is required.</div>
                  } @if(f['uname'].errors && f['uname'].errors['minlength']) {
                  <div class="text-error">Name should be 6 character.</div>
                  }
                </mat-hint>
                }
              </mat-form-field>

              <!-- password -->
              <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="password" formControlName="password" />
                @if(f['password'].touched && f['password'].invalid) {
                <mat-hint class="m-b-16 error-msg">
                  @if( f['password'].errors && f['password'].errors['required'])
                  {
                  <div class="text-error">Password is required.</div>
                  }
                </mat-hint>
                }
              </mat-form-field>

              <div class="d-flex align-items-center m-b-12">
                <mat-checkbox color="primary">Remember this Device</mat-checkbox>
                <a [routerLink]="['/authentication/side-forgot-pwd']"
                  class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14">Forgot Password ?</a>
              </div>
              <button mat-flat-button color="primary" class="w-100" [disabled]="!form.valid">
                Sign In
              </button>
              <!-- input -->
            </form>
            <span class="d-block f-w-500 d-block m-t-24">New to MWSC?
              <a [routerLink]="['/authentication/side-register']"
                class="text-decoration-none text-primary f-w-500 f-s-14">
                Create an account</a>
            </span>
            
            <!-- Version Info -->
            @if(versionInfo) {
            <div class="m-t-24 text-center">
              <span class="f-s-12 text-muted">{{ versionInfo }}</span>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 position-relative overflow-hidden bg-dark-200 d-none d-lg-block">
      <div class="circle-top"></div>
      <div>
        <img src="/assets/images/logos/MWSC_Squre.png" class="circle-bottom" alt="Logo-Dark" style="opacity: 0.1;" />
      </div>
      <div class="d-flex align-items-center z-1 position-relative h-n80">
        <div class="row justify-content-center w-100">
          <div class="col-lg-6">
            <h2 class="text-white f-s-40 m-b-16 lh-base">
              Welcome to <br />
              MWSC Online Services
            </h2>
            <span class="op-75 f-s-16 text-white d-block m-b-16">MWSC Online Services helps customers access online
              services. <br />
              With a user-friendly interface and secure authentication, <br />
              users can easily navigate and utilize the platform's features.

            </span>
            <a href="https://www.mwsc.com.mv/" target="_blank" mat-flat-button color="primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>