<div class="home-page-details">
  <div class="banner bg-extra-light overflow-hidden p-t-56">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 m-b-48">
          <div>
            <div>
              <h1 class="f-s-56 section-sub-title m-b-24 lh-base f-w-500">
                <b>A feature-packed dashboard</b>
                built for developers needs.
              </h1>
            </div>
            <div class="d-flex align-items-center gap-12 m-b-24">
              <div class="avatar-group flex-shrink-0">
                <img src="/assets/images/profile/user-1.jpg" alt="user1" class="rounded-circle" width="40" />
                <img src="/assets/images/profile/user-2.jpg" alt="user2" class="rounded-circle" width="40" />
                <img src="/assets/images/profile/user-3.jpg" alt="user3" class="rounded-circle" width="40" />
              </div>
              <p class="f-s-16 f-w-500 m-0">
                52,589+ developers & agencies using our templates
              </p>
            </div>
            <div class="d-flex gap-12 m-b-24 framework">
              @for (framework of frameworks; track framework.tooltip) {
              <mat-card class="rounded-8 m-0 icon-54 justify-content-center align-items-center cursor-pointer"
                matTooltip="{{ framework.tooltip }}" matTooltipPosition="below">
                <img [src]="framework.src" [alt]="framework.alt" width="28" height="28" />
              </mat-card>
              }
            </div>
            <button mat-flat-button color="primary" [routerLink]="['/authentication/login']">
              Log In
            </button>
          </div>
        </div>
        <div class="col-lg-6 d-none d-lg-flex">
          <div class="banner-slider overflow-hidden">
            <img src="/assets/images/front-end/banner-image.png" alt="" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="support spacing-top p-b-32">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-5 m-b-48">
          <h2 class="m-b-24 f-s-44 section-sub-title lh-normal">Over 45,000 clients and counting.</h2>
          <p class="m-b-24 m-t-0 f-s-18 lh-normal">
            Pellentesque varius semper odio non pretium. Nullam sagittis neque
            orci, eu elementum enim.
          </p>
          <a href="javascript:void(0)" class="f-s-16 f-w-700 d-inline-block p-b-8 text-decoration-none b-b-2">Request a
            Callback</a>
        </div>

        <div class="col-md-6 right-side-content">
          <div class="row g-4 stat-section">
            @for (stat of stats; track stat) {
            <div class="col-lg-6 col-sm-6 col-12 grid-col m-b-48 ">
              <div class="d-flex flex-col gap-16">
                <div [ngClass]="
                    !stat.bg_color.startsWith('--')
                      ? 'bg-light-' + stat.bg_color
                      : ''
                  " class="rounded-8 d-flex justify-content-center align-items-center icon-48" [ngStyle]="{
                    'background-color': stat.bg_color.startsWith('--')
                      ? 'var(' + stat.bg_color + ')'
                      : ''
                  }">
                  <i-tabler [name]="stat.icon" class="icon-24" [ngClass]="stat.color"></i-tabler>
                </div>
                <h4 class="f-s-22 f-w-600 lh-base">
                  {{ stat.label }}
                </h4>

                <p class="f-s-16 description m-0">
                  {{ stat.description }}
                </p>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navigation bg-extra-light spacing-top-bottom">
    <div class="container">
      <div class="nav-bar">
        <div class="custom-tab-bar row">
          <div class="col-md-3 col-sm-6 m-b-10">
            <button mat-flat-button class="rounded btn-bg w-100" [class.active]="selectedTab === 'team'"
              (click)="selectTab('team')">
              <div class="d-flex align-items-center justify-content-center p-y-12 p-x-24 gap-10 f-s-16 f-w-600 ">
                <i class="material-icons">groups</i> Team Scheduling
              </div>
            </button>
          </div>
          <div class="col-md-3 col-sm-6 m-b-10">
            <button mat-flat-button class="rounded btn-bg w-100" [class.active]="selectedTab === 'payments'"
              (click)="selectTab('payments')">
              <div class="d-flex align-items-center justify-content-center p-y-12 p-x-24 gap-10 f-s-16 f-w-600">
                <i class="material-icons">account_balance</i>

                Payments
              </div>
            </button>
          </div>
          <div class="col-md-3 col-sm-6 m-b-10">
            <button mat-flat-button class="rounded btn-bg w-100" [class.active]="selectedTab === 'embedding'"
              (click)="selectTab('embedding')">
              <div class="d-flex align-items-center justify-content-center p-y-12 p-x-24 gap-10 f-s-16 f-w-600">
                <i-tabler name="library-photo" class="icon-24"></i-tabler>
                Embedding
              </div>
            </button>
          </div>
          <div class="col-md-3 col-sm-6 m-b-10">
            <button mat-flat-button class="rounded btn-bg w-100" [class.active]="selectedTab === 'workflows'"
              (click)="selectTab('workflows')">
              <div class="d-flex align-items-center justify-content-center p-y-12 p-x-24 gap-10 f-s-16 f-w-600">
                <i-tabler name="category" class="icon-24"></i-tabler>
                Workflows
              </div>
            </button>
          </div>

        </div>

        <!-- Tab content -->
        <div class="tab-content m-t-48">
          <ng-container>
            <div>
              <div class="row align-items-center">
                <div class="col-md-6">
                  <div class="left-side-content rounded-12 p-32 bg-light-primary">
                    <img src="assets/images/front-end/tabsimage.png" alt="slider-group" class="img-fluid w-100" />
                  </div>
                </div>
                <div class="col-md-6 m-y-30">
                  <div class="p-l-8">
                    <h2 class="f-s-40 section-sub-title lh-normal">Defend your focus</h2>

                    <mat-accordion class="accordion w-100 m-y-24 d-block">
                      <mat-expansion-panel class="expansion m-b-0 b-b-1" [expanded]="
                          selectedTab === 'team' || selectedTab === 'workflows'
                        ">
                        <mat-expansion-panel-header>
                          <mat-panel-title class="f-s-18 f-w-600">
                            Combine teammate schedules
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p class="description f-s-16 m-0">
                          Factor in availability for required attendees, and
                          skip checking for conflicts for optional attendees.
                        </p>
                      </mat-expansion-panel>

                      <mat-expansion-panel class="expansion m-b-0 b-b-1" [expanded]="selectedTab === 'payments'">
                        <mat-expansion-panel-header class="m-y-0 m-r-24">
                          <mat-panel-title class="f-s-18 f-w-600">
                            Factor in outside colleagues
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p class="description f-s-16 m-0">
                          Factor in availability for required attendees, and
                          skip checking for conflicts for optional attendees.
                        </p>
                      </mat-expansion-panel>

                      <mat-expansion-panel class="expansion m-b-0 b-b-1" [expanded]="selectedTab === 'embedding'">
                        <mat-expansion-panel-header class="m-y-0 m-r-24">
                          <mat-panel-title class="f-s-18 f-w-600">
                            Round robin pooling
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p class="description f-s-16 m-0">
                          Factor in availability for required attendees, and
                          skip checking for conflicts for optional attendees.
                        </p>
                      </mat-expansion-panel>
                    </mat-accordion>

                    <button mat-flat-button color="primary">
                      Learn More
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="meet-our-team-sec bg-dark-200 spacing-top">
    <app-images [hideToolbar]="hideToolbar"></app-images>
  </div>

  <div class="testimonial-sec card-slider spacing-top">
    <app-card-slider></app-card-slider>
  </div>

  <div class="pricing spacing-top-bottom">
    <app-price-page></app-price-page>
  </div>

  <div class="question spacing-bottom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h2 class="text-center f-s-44 section-sub-title lh-normal m-b-48">
            Frequently asked questions
          </h2>
          <mat-accordion class="accordion">
            <mat-expansion-panel class="expansion m-b-16 shadow-none rounded b-1">
              <mat-expansion-panel-header>
                <mat-panel-title class="f-s-18">
                  What is included with my purchase?
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </mat-expansion-panel>

            <mat-expansion-panel class="expansion m-b-16 shadow-none rounded b-1">
              <mat-expansion-panel-header>
                <mat-panel-title class="f-s-18">
                  Are there any recurring fees?
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </mat-expansion-panel>

            <mat-expansion-panel class="expansion m-b-16 shadow-none rounded b-1">
              <mat-expansion-panel-header>
                <mat-panel-title class="f-s-18">
                  Can I use the template on multiple project?
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel class="expansion m-b-16 shadow-none rounded b-1">
              <mat-expansion-panel-header>
                <mat-panel-title class="f-s-18">
                  Can I customize the admin dashboard template to match my
                  brand?
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel class="expansion m-b-16 shadow-none rounded b-1">
              <mat-expansion-panel-header>
                <mat-panel-title class="f-s-18">
                  Are there any restrictions on using the template?
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel class="expansion m-b-16 shadow-none rounded b-1">
              <mat-expansion-panel-header>
                <mat-panel-title class="f-s-18">
                  How can I get support after purchase?
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </mat-expansion-panel>
          </mat-accordion>
          <div class="d-flex align-items-center justify-content-center m-t-48 p-t-10">
            <p class="m-0 f-s-14 f-w-600 text-center rounded p-y-4 p-x-8 border-dash-content">
              Still have a question?
              <a [routerLink]="'https://discord.com/invite/XujgB8ww4n'" target="_blank" class="anchar-tag">Ask to discord</a>
              or
              <a href="https://adminmart.com/support/" target="_blank" rel="noopener noreferrer"
                class="anchar-tag">submit a ticket</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>