<div class="pricing-page">
  <div class="banner-pricing bg-extra-light p-y-56">
    <div class="container">
      <div class="d-flex justify-content-between flex-wrap align-items-center height-row">
        <h2 class="section-sub-title f-s-44 lh-normal">Choose Your Plan</h2>
        <div class="d-flex align-items-center gap-6 breadcrumb">
          <a [routerLink]="'/front-pages/homepage'" class="f-s-14 text-uppercase text-decoration-none f-w-700">MatDash</a>
          <i-tabler name="chevron-right" class="icon-18 d-flex"></i-tabler>
          <a [routerLink]="'/front-pages/pricing'" class="f-s-14 text-uppercase text-primary text-decoration-none f-w-700">
            Pricing page
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="pricing spacing-top-bottom">
    <app-price-page></app-price-page>
  </div>

  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>