<div class="images-container spacing-bottom">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-7">
        <h2 class="text-white f-s-44 section-sub-title lh-normal">Meet our team</h2>
      </div>
      <div class="col-md-5">
        <p class="f-s-16 text-white m-0 lh-normal">
          Our robust analytics offer rich insights into the
          information buyers want, informing where teams
        </p>
      </div>
    </div>
    <div class="row m-t-48 m-y-0">
      @for (member of visibleTeam; track member.id) {
      <div class="col-md-3 col-sm-6 m-b-30">
        <div class="meet-our-team position-relative rounded-8 overflow-hidden">
          <img [src]="member.image" alt="{{ member.name }}" class="img-fluid w-100 h-100 rounded d-block" />
          <mat-card class="leadership-card text-center m-12 p-16 w-100">
            <h3 class="f-w-600 m-b-8 f-s-18">{{ member.name }}</h3>
            <p class="f-s-14 m-y-0">{{ member.position }}</p>
          </mat-card>
        </div>
      </div>
      }
    </div>
  </div>
</div>
@if(hideToolbar){
<div class="toolBar bg-primary p-y-16">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center">
        <div class="avatar-group flex-shrink-0">
          <img src="assets/images/profile/user-2.jpg" width="44" height="44" alt="social"
            class="rounded-circle m-x-1" />
          <img src="assets/images/profile/user-3.jpg" width="44" height="44" alt="social"
            class="rounded-circle m-x-1" />
        </div>
        <span class="text-white f-s-16 m-l-16">
          Save valuable time and effort spent searching for a solution.
          <a class="text-white f-w-600 m-l-8" href="front-pages/contact">Contact us now</a>
        </span>
      </div>
    </div>
  </div>
}