  
<mat-card class="shadow-none bg-light-secondary overflow-hidden">
      <div class="p-32 p-b-0">
        <div class="row justify-content-between">
          <div class="col-sm-6">
            <mat-card-title>No Business Linked to Your Profile</mat-card-title>
            <mat-card-subtitle class="mat-body-1 text-dark m-t-16 lh-24 m-b-24">
                To proceed, please add your company first. Once a business is added, you will be able to access all dashboard
          features.
        </mat-card-subtitle>
            <button (click)="goToAddBusiness()" mat-flat-button class="bg-secondary m-b-24">
              Add Business
            </button>
          </div>
          <div class="col-sm-5 text-right">
            <img
              src="assets/images/backgrounds/make-social-media.png"
              alt="welcome"
              width="150"
              class="welcome-img"
            />
          </div>
        </div>
      </div>
    </mat-card>
