<?xml version="1.0" encoding="utf-8"?>
<configuration>

<system.webServer>
  <staticContent>
    <remove fileExtension=".json" />
    <mimeMap fileExtension=".json" mimeType="application/json" />
  </staticContent>
  <rewrite>
    <rules>
      <rule name="Static Assets" stopProcessing="true">
        <match url="^assets/.*" />
        <action type="None" />
      </rule>
      <rule name="Static Files" stopProcessing="true">
        <match url=".*\.(js|css|json|png|jpg|jpeg|gif|svg|ico|woff|woff2|ttf|eot|map)$" />
        <action type="None" />
      </rule>
      <rule name="Angular Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="./index.html" />
      </rule>
    </rules>
  </rewrite>
  <security>
    <requestFiltering>
      <requestLimits maxUrl="4096" maxQueryString="8192" />
    </requestFiltering>
  </security>
</system.webServer>

</configuration>